*{
    margin: 0;
}
.header {
    margin: 50px 50px 0;
    background: url("../Images/Banner\ Image.png");
    padding: 177px 344px;
    border-radius: 16px;
    background-repeat: no-repeat;
    justify-items: center;
}

/* .overlay {
    border-radius: 16px;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
} */

.header-greetings {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.header-title {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

/* main starts here */

main {
    margin-top: 120px;

}

/* section-1 here */
.Section-1 {
    text-align: center;
}

.offer {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer-tagline {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.primary-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.Section-1-image {
    width: 800px;
}

/* section 2 */
.Section-2 {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../Images/Vectorrr.png");
    background-repeat: no-repeat;
    padding: 126px;
    margin: 120px 140px;

}

.Section-2-h {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
    max-width: 650px;
}

.Section-2-p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
    max-width: 700px;
}

.Section-2-btn {
    background-color: rgba(7, 2, 17, 0.00);
    border: 0;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

/* Section 3 */
.Section-3 {
    margin: 120px 140px;
    padding: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

    text-align: center;
}

.section-3-primary {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.section-3-primary2 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.section-3-btn{
    color: #FFF;
border-radius: 8px;
background: #F00;
border: 0;
padding: 16px 32px;
margin-top: 48px;
}

/* section -4 */
.section-4 {
    margin: 120px 140px;
}

.section-4-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.section-4-title-description {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0px 22px;
}

.section-4-content {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    max-width: 900px;
    margin-bottom: 48px;
}

.section-4-images img {
    max-width: 320px;
}

.image-row-1 {
    margin-bottom: 24px;
}

.img-mid {
    margin: 0 24px;
}

/* newsleter section */
.newsleter-section {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 80px 212px;
    margin: 0 140px 120px;

}

.Subscribe-h {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 40px 0 22px;
}

.Subscribe-content {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
}

.round-input {
    text-align: center;
}


.email-input {
    border-radius: 50px 0px 0px 50px;
    padding: 26px 200px 24px 30px;
    border: 0;
    max-width: 200px;
    background: #FFF;
    max-width: 650px;
}

.Subscribe-btn {
    padding: 20px 56px;
    border: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

.button-caption {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}


/* footer */
footer {
    padding: 120px 140px;
    background: #070211;
}

.footer-1st-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 50px;
}

.footer-2nd-row {
    text-align: center;
    padding: 48px;
}

.footer-3rd-row {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.footer-h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    max-width: 375px;
}

#website-icon {
    margin-top: 0;
    padding-right: 100px;
}

#call-icon {
    margin-bottom: 0;
    padding-right: 100px;
}

footer hr {
    color: rgba(255, 255, 255, 0.15);
}

/* bonus -1 */
.Bonus-1{
    display: flex;
    text-align: center;
    margin: 120px 140px;
}
.Bonus-1-1{
        max-width: 395px;
}
.Bonus-1-1-h{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.Bonus-1-1-h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 22px;
}
.Bonus-1-p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-bottom: 40px;
}
.round-border{
    border-radius: 300px;
    border: 15px solid #F00;
    padding: 40px;
    margin: 50px;
}
.year-2024{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin: 16px;
}
.Bonus-1-right{
    text-align: center;
    align-content: center;
}